Repository gosantosh71/gvcr-pricing-tool-kem6wa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @api-team, @service-team, @domain-experts, @frontend-team, @ui-component-team, @devops-team, @kubernetes-experts, @azure-cloud-team, @ci-cd-experts, @documentation-team, @architecture-team, @qa-team, @security-team

Add public-samples/gvcr-pricing-tool-kem6wa/infrastructure/azure/arm-templates/parameters.json
  infrastructure/azure/arm-templates/parameters.json
Owners: @azure-cloud-team

Add public-samples/gvcr-pricing-tool-kem6wa/infrastructure/azure/arm-templates/redis.json
  infrastructure/azure/arm-templates/redis.json
Owners: @azure-cloud-team

Add public-samples/gvcr-pricing-tool-kem6wa/infrastructure/azure/arm-templates/sql.json
  infrastructure/azure/arm-templates/sql.json
Owners: @azure-cloud-team

Add public-samples/gvcr-pricing-tool-kem6wa/infrastructure/azure/arm-templates/storage.json
  infrastructure/azure/arm-templates/storage.json
Owners: @azure-cloud-team

Add public-samples/gvcr-pricing-tool-kem6wa/infrastructure/azure/terraform/main.tf
  infrastructure/azure/terraform/main.tf
Owners: @azure-cloud-team

Add public-samples/gvcr-pricing-tool-kem6wa/infrastructure/azure/terraform/outputs.tf
  infrastructure/azure/terraform/outputs.tf
Owners: @azure-cloud-team

Add public-samples/gvcr-pricing-tool-kem6wa/infrastructure/azure/terraform/variables.tf
  infrastructure/azure/terraform/variables.tf
Owners: @azure-cloud-team

Add public-samples/gvcr-pricing-tool-kem6wa/infrastructure/azure/terraform/environments/dev/terraform.tfvars
  infrastructure/azure/terraform/environments/dev/terraform.tfvars
Owners: @azure-cloud-team

Add public-samples/gvcr-pricing-tool-kem6wa/infrastructure/azure/terraform/environments/prod/terraform.tfvars
  infrastructure/azure/terraform/environments/prod/terraform.tfvars
Owners: @azure-cloud-team

Add public-samples/gvcr-pricing-tool-kem6wa/infrastructure/azure/terraform/environments/staging/terraform.tfvars
  infrastructure/azure/terraform/environments/staging/terraform.tfvars
Owners: @azure-cloud-team

Add public-samples/gvcr-pricing-tool-kem6wa/infrastructure/azure/terraform/modules/compute/main.tf
  infrastructure/azure/terraform/modules/compute/main.tf
Owners: @azure-cloud-team

Add public-samples/gvcr-pricing-tool-kem6wa/infrastructure/azure/terraform/modules/database/main.tf
  infrastructure/azure/terraform/modules/database/main.tf
Owners: @azure-cloud-team

Add public-samples/gvcr-pricing-tool-kem6wa/infrastructure/azure/terraform/modules/networking/main.tf
  infrastructure/azure/terraform/modules/networking/main.tf
Owners: @azure-cloud-team

Add public-samples/gvcr-pricing-tool-kem6wa/infrastructure/azure/terraform/modules/security/main.tf
  infrastructure/azure/terraform/modules/security/main.tf
Owners: @azure-cloud-team

Add public-samples/gvcr-pricing-tool-kem6wa/infrastructure/helm/vatfilingpricingtool/Chart.yaml
  infrastructure/helm/vatfilingpricingtool/Chart.yaml
Owners: @devops-team

Add public-samples/gvcr-pricing-tool-kem6wa/infrastructure/helm/vatfilingpricingtool/values.yaml
  infrastructure/helm/vatfilingpricingtool/values.yaml
Owners: @devops-team

Add public-samples/gvcr-pricing-tool-kem6wa/infrastructure/helm/vatfilingpricingtool/templates/config.yaml
  infrastructure/helm/vatfilingpricingtool/templates/config.yaml
Owners: @devops-team

Add public-samples/gvcr-pricing-tool-kem6wa/infrastructure/helm/vatfilingpricingtool/templates/deployment.yaml
  infrastructure/helm/vatfilingpricingtool/templates/deployment.yaml
Owners: @devops-team

Add public-samples/gvcr-pricing-tool-kem6wa/infrastructure/helm/vatfilingpricingtool/templates/ingress.yaml
  infrastructure/helm/vatfilingpricingtool/templates/ingress.yaml
Owners: @devops-team

Add public-samples/gvcr-pricing-tool-kem6wa/infrastructure/helm/vatfilingpricingtool/templates/secrets.yaml
  infrastructure/helm/vatfilingpricingtool/templates/secrets.yaml
Owners: @devops-team

Add public-samples/gvcr-pricing-tool-kem6wa/infrastructure/helm/vatfilingpricingtool/templates/service.yaml
  infrastructure/helm/vatfilingpricingtool/templates/service.yaml
Owners: @devops-team

Add public-samples/gvcr-pricing-tool-kem6wa/infrastructure/kubernetes/namespace.yaml
  infrastructure/kubernetes/namespace.yaml
Owners: @kubernetes-experts

Add public-samples/gvcr-pricing-tool-kem6wa/infrastructure/kubernetes/backend/config.yaml
  infrastructure/kubernetes/backend/config.yaml
Owners: @kubernetes-experts

Add public-samples/gvcr-pricing-tool-kem6wa/infrastructure/kubernetes/backend/deployment.yaml
  infrastructure/kubernetes/backend/deployment.yaml
Owners: @kubernetes-experts

Add public-samples/gvcr-pricing-tool-kem6wa/infrastructure/kubernetes/backend/ingress.yaml
  infrastructure/kubernetes/backend/ingress.yaml
Owners: @kubernetes-experts

Add public-samples/gvcr-pricing-tool-kem6wa/infrastructure/kubernetes/backend/secrets.yaml
  infrastructure/kubernetes/backend/secrets.yaml
Owners: @kubernetes-experts

Add public-samples/gvcr-pricing-tool-kem6wa/infrastructure/kubernetes/backend/service.yaml
  infrastructure/kubernetes/backend/service.yaml
Owners: @kubernetes-experts

Add public-samples/gvcr-pricing-tool-kem6wa/infrastructure/kubernetes/monitoring/alert-rules.yaml
  infrastructure/kubernetes/monitoring/alert-rules.yaml
Owners: @kubernetes-experts

Add public-samples/gvcr-pricing-tool-kem6wa/infrastructure/kubernetes/monitoring/grafana.yaml
  infrastructure/kubernetes/monitoring/grafana.yaml
Owners: @kubernetes-experts

Add public-samples/gvcr-pricing-tool-kem6wa/infrastructure/kubernetes/monitoring/loki.yaml
  infrastructure/kubernetes/monitoring/loki.yaml
Owners: @kubernetes-experts

Add public-samples/gvcr-pricing-tool-kem6wa/infrastructure/kubernetes/monitoring/prometheus.yaml
  infrastructure/kubernetes/monitoring/prometheus.yaml
Owners: @kubernetes-experts

Add public-samples/gvcr-pricing-tool-kem6wa/infrastructure/kubernetes/monitoring/dashboards/application-dashboard.json
  infrastructure/kubernetes/monitoring/dashboards/application-dashboard.json
Owners: @kubernetes-experts

Add public-samples/gvcr-pricing-tool-kem6wa/infrastructure/kubernetes/monitoring/dashboards/business-dashboard.json
  infrastructure/kubernetes/monitoring/dashboards/business-dashboard.json
Owners: @kubernetes-experts

Add public-samples/gvcr-pricing-tool-kem6wa/infrastructure/kubernetes/monitoring/dashboards/system-dashboard.json
  infrastructure/kubernetes/monitoring/dashboards/system-dashboard.json
Owners: @kubernetes-experts

Add public-samples/gvcr-pricing-tool-kem6wa/infrastructure/kubernetes/web/config.yaml
  infrastructure/kubernetes/web/config.yaml
Owners: @kubernetes-experts

Add public-samples/gvcr-pricing-tool-kem6wa/infrastructure/kubernetes/web/deployment.yaml
  infrastructure/kubernetes/web/deployment.yaml
Owners: @kubernetes-experts

Add public-samples/gvcr-pricing-tool-kem6wa/infrastructure/kubernetes/web/ingress.yaml
  infrastructure/kubernetes/web/ingress.yaml
Owners: @kubernetes-experts

Add public-samples/gvcr-pricing-tool-kem6wa/infrastructure/kubernetes/web/service.yaml
  infrastructure/kubernetes/web/service.yaml
Owners: @kubernetes-experts

Add public-samples/gvcr-pricing-tool-kem6wa/infrastructure/scripts/backup-databases.ps1
  infrastructure/scripts/backup-databases.ps1
Owners: @devops-team

Add public-samples/gvcr-pricing-tool-kem6wa/infrastructure/scripts/deploy.ps1
  infrastructure/scripts/deploy.ps1
Owners: @devops-team

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes precedence.
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for everything in the repo
# These owners will be the default owners for everything in the repository
# unless a later match takes precedence.
*                                               @project-leads

# Backend Code
src/backend/                                    @backend-team
src/backend/VatFilingPricingTool.Api/           @api-team
src/backend/VatFilingPricingTool.Service/       @service-team
src/backend/VatFilingPricingTool.Domain/        @domain-experts

# Frontend Code
src/web/                                        @frontend-team
src/web/VatFilingPricingTool.Web/Components/    @ui-component-team

# Infrastructure
infrastructure/                                 @devops-team
infrastructure/kubernetes/                      @kubernetes-experts
infrastructure/azure/                           @azure-cloud-team

# CI/CD Pipelines
.github/workflows/                              @devops-team @ci-cd-experts
.azuredevops/pipelines/                         @devops-team @ci-cd-experts

# Documentation
docs/                                           @documentation-team
docs/architecture/                              @architecture-team
docs/api/                                       @api-team

# Tests
src/backend/Tests/                              @qa-team @backend-team
src/web/Tests/                                  @qa-team @frontend-team

# Security-Critical Files
src/backend/VatFilingPricingTool.Infrastructure/Authentication/  @security-team
src/web/VatFilingPricingTool.Web/Authentication/                 @security-team
infrastructure/azure/arm-templates/keyvault.json                 @security-team @devops-team

# GitHub Configuration
.github/                                        @devops-team @project-leads
.github/CODEOWNERS                              @project-leads
