Repository gosantosh71/gvcr-pricing-tool-kem6wa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @api-team, @service-team, @domain-experts, @frontend-team, @ui-component-team, @devops-team, @kubernetes-experts, @azure-cloud-team, @ci-cd-experts, @documentation-team, @architecture-team, @qa-team, @security-team

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes precedence.
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for everything in the repo
# These owners will be the default owners for everything in the repository
# unless a later match takes precedence.
*                                               @project-leads

# Backend Code
src/backend/                                    @backend-team
src/backend/VatFilingPricingTool.Api/           @api-team
src/backend/VatFilingPricingTool.Service/       @service-team
src/backend/VatFilingPricingTool.Domain/        @domain-experts

# Frontend Code
src/web/                                        @frontend-team
src/web/VatFilingPricingTool.Web/Components/    @ui-component-team

# Infrastructure
infrastructure/                                 @devops-team
infrastructure/kubernetes/                      @kubernetes-experts
infrastructure/azure/                           @azure-cloud-team

# CI/CD Pipelines
.github/workflows/                              @devops-team @ci-cd-experts
.azuredevops/pipelines/                         @devops-team @ci-cd-experts

# Documentation
docs/                                           @documentation-team
docs/architecture/                              @architecture-team
docs/api/                                       @api-team

# Tests
src/backend/Tests/                              @qa-team @backend-team
src/web/Tests/                                  @qa-team @frontend-team

# Security-Critical Files
src/backend/VatFilingPricingTool.Infrastructure/Authentication/  @security-team
src/web/VatFilingPricingTool.Web/Authentication/                 @security-team
infrastructure/azure/arm-templates/keyvault.json                 @security-team @devops-team

# GitHub Configuration
.github/                                        @devops-team @project-leads
.github/CODEOWNERS                              @project-leads

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/VatFilingPricingTool.Domain/Entities/Service.cs
  src/backend/VatFilingPricingTool.Domain/Entities/Service.cs
Owners: @domain-experts

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/VatFilingPricingTool.Domain/Entities/User.cs
  src/backend/VatFilingPricingTool.Domain/Entities/User.cs
Owners: @domain-experts

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/VatFilingPricingTool.Domain/Enums/FilingFrequency.cs
  src/backend/VatFilingPricingTool.Domain/Enums/FilingFrequency.cs
Owners: @domain-experts

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/VatFilingPricingTool.Domain/Enums/ReportFormat.cs
  src/backend/VatFilingPricingTool.Domain/Enums/ReportFormat.cs
Owners: @domain-experts

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/VatFilingPricingTool.Domain/Enums/RuleType.cs
  src/backend/VatFilingPricingTool.Domain/Enums/RuleType.cs
Owners: @domain-experts

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/VatFilingPricingTool.Domain/Enums/ServiceType.cs
  src/backend/VatFilingPricingTool.Domain/Enums/ServiceType.cs
Owners: @domain-experts

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/VatFilingPricingTool.Domain/Enums/UserRole.cs
  src/backend/VatFilingPricingTool.Domain/Enums/UserRole.cs
Owners: @domain-experts

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/VatFilingPricingTool.Domain/Exceptions/DomainException.cs
  src/backend/VatFilingPricingTool.Domain/Exceptions/DomainException.cs
Owners: @domain-experts

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/VatFilingPricingTool.Domain/Exceptions/ValidationException.cs
  src/backend/VatFilingPricingTool.Domain/Exceptions/ValidationException.cs
Owners: @domain-experts

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/VatFilingPricingTool.Domain/Rules/IRuleEngine.cs
  src/backend/VatFilingPricingTool.Domain/Rules/IRuleEngine.cs
Owners: @domain-experts

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/VatFilingPricingTool.Domain/Rules/RuleEngine.cs
  src/backend/VatFilingPricingTool.Domain/Rules/RuleEngine.cs
Owners: @domain-experts

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/VatFilingPricingTool.Domain/Rules/RuleEvaluator.cs
  src/backend/VatFilingPricingTool.Domain/Rules/RuleEvaluator.cs
Owners: @domain-experts

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/VatFilingPricingTool.Domain/Rules/Expressions/ExpressionEvaluator.cs
  src/backend/VatFilingPricingTool.Domain/Rules/Expressions/ExpressionEvaluator.cs
Owners: @domain-experts

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/VatFilingPricingTool.Domain/Rules/Expressions/ExpressionParser.cs
  src/backend/VatFilingPricingTool.Domain/Rules/Expressions/ExpressionParser.cs
Owners: @domain-experts

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/VatFilingPricingTool.Domain/ValueObjects/CountryCode.cs
  src/backend/VatFilingPricingTool.Domain/ValueObjects/CountryCode.cs
Owners: @domain-experts

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/VatFilingPricingTool.Domain/ValueObjects/Money.cs
  src/backend/VatFilingPricingTool.Domain/ValueObjects/Money.cs
Owners: @domain-experts

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/VatFilingPricingTool.Domain/ValueObjects/VatRate.cs
  src/backend/VatFilingPricingTool.Domain/ValueObjects/VatRate.cs
Owners: @domain-experts

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/VatFilingPricingTool.Infrastructure/Authentication/AuthenticationOptions.cs
  src/backend/VatFilingPricingTool.Infrastructure/Authentication/AuthenticationOptions.cs
Owners: @security-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/VatFilingPricingTool.Infrastructure/Authentication/AzureAdAuthenticationHandler.cs
  src/backend/VatFilingPricingTool.Infrastructure/Authentication/AzureAdAuthenticationHandler.cs
Owners: @security-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/VatFilingPricingTool.Infrastructure/Authentication/JwtTokenHandler.cs
  src/backend/VatFilingPricingTool.Infrastructure/Authentication/JwtTokenHandler.cs
Owners: @security-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/VatFilingPricingTool.Infrastructure/Caching/CacheOptions.cs
  src/backend/VatFilingPricingTool.Infrastructure/Caching/CacheOptions.cs
Owners: @backend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/VatFilingPricingTool.Infrastructure/Caching/RedisCacheService.cs
  src/backend/VatFilingPricingTool.Infrastructure/Caching/RedisCacheService.cs
Owners: @backend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/VatFilingPricingTool.Infrastructure/Clients/ApiClient.cs
  src/backend/VatFilingPricingTool.Infrastructure/Clients/ApiClient.cs
Owners: @backend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/VatFilingPricingTool.Infrastructure/Clients/HttpClientFactory.cs
  src/backend/VatFilingPricingTool.Infrastructure/Clients/HttpClientFactory.cs
Owners: @backend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/VatFilingPricingTool.Infrastructure/Configuration/AppConfiguration.cs
  src/backend/VatFilingPricingTool.Infrastructure/Configuration/AppConfiguration.cs
Owners: @backend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/VatFilingPricingTool.Infrastructure/Configuration/AzureKeyVaultConfiguration.cs
  src/backend/VatFilingPricingTool.Infrastructure/Configuration/AzureKeyVaultConfiguration.cs
Owners: @backend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/VatFilingPricingTool.Infrastructure/Integration/ERP/DynamicsConnector.cs
  src/backend/VatFilingPricingTool.Infrastructure/Integration/ERP/DynamicsConnector.cs
Owners: @backend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/VatFilingPricingTool.Infrastructure/Integration/ERP/ErpConnector.cs
  src/backend/VatFilingPricingTool.Infrastructure/Integration/ERP/ErpConnector.cs
Owners: @backend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/VatFilingPricingTool.Infrastructure/Integration/ERP/ErpOptions.cs
  src/backend/VatFilingPricingTool.Infrastructure/Integration/ERP/ErpOptions.cs
Owners: @backend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/VatFilingPricingTool.Infrastructure/Integration/Email/EmailOptions.cs
  src/backend/VatFilingPricingTool.Infrastructure/Integration/Email/EmailOptions.cs
Owners: @backend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/VatFilingPricingTool.Infrastructure/Integration/Email/EmailSender.cs
  src/backend/VatFilingPricingTool.Infrastructure/Integration/Email/EmailSender.cs
Owners: @backend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/VatFilingPricingTool.Infrastructure/Integration/Email/EmailTemplates.cs
  src/backend/VatFilingPricingTool.Infrastructure/Integration/Email/EmailTemplates.cs
Owners: @backend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/VatFilingPricingTool.Infrastructure/Integration/OCR/AzureCognitiveServicesClient.cs
  src/backend/VatFilingPricingTool.Infrastructure/Integration/OCR/AzureCognitiveServicesClient.cs
Owners: @backend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/VatFilingPricingTool.Infrastructure/Integration/OCR/OcrOptions.cs
  src/backend/VatFilingPricingTool.Infrastructure/Integration/OCR/OcrOptions.cs
Owners: @backend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/VatFilingPricingTool.Infrastructure/Integration/OCR/OcrProcessor.cs
  src/backend/VatFilingPricingTool.Infrastructure/Integration/OCR/OcrProcessor.cs
Owners: @backend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/VatFilingPricingTool.Infrastructure/Logging/LoggingOptions.cs
  src/backend/VatFilingPricingTool.Infrastructure/Logging/LoggingOptions.cs
Owners: @backend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/VatFilingPricingTool.Infrastructure/Logging/LoggingService.cs
  src/backend/VatFilingPricingTool.Infrastructure/Logging/LoggingService.cs
Owners: @backend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/VatFilingPricingTool.Infrastructure/Resilience/CircuitBreakerPolicy.cs
  src/backend/VatFilingPricingTool.Infrastructure/Resilience/CircuitBreakerPolicy.cs
Owners: @backend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/VatFilingPricingTool.Infrastructure/Resilience/PolicyConfiguration.cs
  src/backend/VatFilingPricingTool.Infrastructure/Resilience/PolicyConfiguration.cs
Owners: @backend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/VatFilingPricingTool.Infrastructure/Resilience/RetryPolicy.cs
  src/backend/VatFilingPricingTool.Infrastructure/Resilience/RetryPolicy.cs
Owners: @backend-team
