Repository gosantosh71/gvcr-pricing-tool-kem6wa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @api-team, @service-team, @domain-experts, @frontend-team, @ui-component-team, @devops-team, @kubernetes-experts, @azure-cloud-team, @ci-cd-experts, @documentation-team, @architecture-team, @qa-team, @security-team

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes precedence.
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for everything in the repo
# These owners will be the default owners for everything in the repository
# unless a later match takes precedence.
*                                               @project-leads

# Backend Code
src/backend/                                    @backend-team
src/backend/VatFilingPricingTool.Api/           @api-team
src/backend/VatFilingPricingTool.Service/       @service-team
src/backend/VatFilingPricingTool.Domain/        @domain-experts

# Frontend Code
src/web/                                        @frontend-team
src/web/VatFilingPricingTool.Web/Components/    @ui-component-team

# Infrastructure
infrastructure/                                 @devops-team
infrastructure/kubernetes/                      @kubernetes-experts
infrastructure/azure/                           @azure-cloud-team

# CI/CD Pipelines
.github/workflows/                              @devops-team @ci-cd-experts
.azuredevops/pipelines/                         @devops-team @ci-cd-experts

# Documentation
docs/                                           @documentation-team
docs/architecture/                              @architecture-team
docs/api/                                       @api-team

# Tests
src/backend/Tests/                              @qa-team @backend-team
src/web/Tests/                                  @qa-team @frontend-team

# Security-Critical Files
src/backend/VatFilingPricingTool.Infrastructure/Authentication/  @security-team
src/web/VatFilingPricingTool.Web/Authentication/                 @security-team
infrastructure/azure/arm-templates/keyvault.json                 @security-team @devops-team

# GitHub Configuration
.github/                                        @devops-team @project-leads
.github/CODEOWNERS                              @project-leads

Add public-samples/gvcr-pricing-tool-kem6wa/.github/pull_request_template.md
  .github/pull_request_template.md
Owners: @devops-team, @project-leads

Add public-samples/gvcr-pricing-tool-kem6wa/.github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @devops-team, @project-leads

Add public-samples/gvcr-pricing-tool-kem6wa/.github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @devops-team, @project-leads

Add public-samples/gvcr-pricing-tool-kem6wa/.github/workflows/backend-build.yml
  .github/workflows/backend-build.yml
Owners: @devops-team, @project-leads

Add public-samples/gvcr-pricing-tool-kem6wa/.github/workflows/backend-deploy.yml
  .github/workflows/backend-deploy.yml
Owners: @devops-team, @project-leads

Add public-samples/gvcr-pricing-tool-kem6wa/.github/workflows/infrastructure-deploy.yml
  .github/workflows/infrastructure-deploy.yml
Owners: @devops-team, @project-leads

Add public-samples/gvcr-pricing-tool-kem6wa/.github/workflows/security-scan.yml
  .github/workflows/security-scan.yml
Owners: @devops-team, @project-leads

Add public-samples/gvcr-pricing-tool-kem6wa/blitzy/documentation/Input Prompt.md
  blitzy/documentation/Input Prompt.md
Owners: @project-leads

Add public-samples/gvcr-pricing-tool-kem6wa/blitzy/documentation/Project Guide.md
  blitzy/documentation/Project Guide.md
Owners: @project-leads

Add public-samples/gvcr-pricing-tool-kem6wa/blitzy/documentation/Technical Specifications.md
  blitzy/documentation/Technical Specifications.md
Owners: @project-leads

Add public-samples/gvcr-pricing-tool-kem6wa/docs/README.md
  docs/README.md
Owners: @documentation-team

Add public-samples/gvcr-pricing-tool-kem6wa/docs/api/README.md
  docs/api/README.md
Owners: @api-team

Add public-samples/gvcr-pricing-tool-kem6wa/docs/api/admin-endpoints.md
  docs/api/admin-endpoints.md
Owners: @api-team

Add public-samples/gvcr-pricing-tool-kem6wa/docs/api/authentication.md
  docs/api/authentication.md
Owners: @api-team

Add public-samples/gvcr-pricing-tool-kem6wa/docs/api/pricing-endpoints.md
  docs/api/pricing-endpoints.md
Owners: @api-team

Add public-samples/gvcr-pricing-tool-kem6wa/docs/api/reporting-endpoints.md
  docs/api/reporting-endpoints.md
Owners: @api-team

Add public-samples/gvcr-pricing-tool-kem6wa/docs/architecture/README.md
  docs/architecture/README.md
Owners: @architecture-team

Add public-samples/gvcr-pricing-tool-kem6wa/docs/architecture/component-diagram.md
  docs/architecture/component-diagram.md
Owners: @architecture-team

Add public-samples/gvcr-pricing-tool-kem6wa/docs/architecture/data-flow-diagram.md
  docs/architecture/data-flow-diagram.md
Owners: @architecture-team

Add public-samples/gvcr-pricing-tool-kem6wa/docs/architecture/security-architecture.md
  docs/architecture/security-architecture.md
Owners: @architecture-team

Add public-samples/gvcr-pricing-tool-kem6wa/docs/architecture/system-overview.md
  docs/architecture/system-overview.md
Owners: @architecture-team

Add public-samples/gvcr-pricing-tool-kem6wa/docs/deployment/README.md
  docs/deployment/README.md
Owners: @documentation-team

Add public-samples/gvcr-pricing-tool-kem6wa/docs/deployment/ci-cd-pipeline.md
  docs/deployment/ci-cd-pipeline.md
Owners: @documentation-team

Add public-samples/gvcr-pricing-tool-kem6wa/docs/deployment/disaster-recovery.md
  docs/deployment/disaster-recovery.md
Owners: @documentation-team

Add public-samples/gvcr-pricing-tool-kem6wa/docs/deployment/environment-setup.md
  docs/deployment/environment-setup.md
Owners: @documentation-team

Add public-samples/gvcr-pricing-tool-kem6wa/docs/deployment/monitoring-setup.md
  docs/deployment/monitoring-setup.md
Owners: @documentation-team

Add public-samples/gvcr-pricing-tool-kem6wa/docs/development/README.md
  docs/development/README.md
Owners: @documentation-team

Add public-samples/gvcr-pricing-tool-kem6wa/docs/development/branching-strategy.md
  docs/development/branching-strategy.md
Owners: @documentation-team

Add public-samples/gvcr-pricing-tool-kem6wa/docs/development/coding-standards.md
  docs/development/coding-standards.md
Owners: @documentation-team

Add public-samples/gvcr-pricing-tool-kem6wa/docs/development/getting-started.md
  docs/development/getting-started.md
Owners: @documentation-team

Add public-samples/gvcr-pricing-tool-kem6wa/docs/development/testing-strategy.md
  docs/development/testing-strategy.md
Owners: @documentation-team

Add public-samples/gvcr-pricing-tool-kem6wa/infrastructure/README.md
  infrastructure/README.md
Owners: @devops-team

Add public-samples/gvcr-pricing-tool-kem6wa/infrastructure/azure/arm-templates/aks.json
  infrastructure/azure/arm-templates/aks.json
Owners: @azure-cloud-team

Add public-samples/gvcr-pricing-tool-kem6wa/infrastructure/azure/arm-templates/api-management.json
  infrastructure/azure/arm-templates/api-management.json
Owners: @azure-cloud-team

Add public-samples/gvcr-pricing-tool-kem6wa/infrastructure/azure/arm-templates/appservice.json
  infrastructure/azure/arm-templates/appservice.json
Owners: @azure-cloud-team

Add public-samples/gvcr-pricing-tool-kem6wa/infrastructure/azure/arm-templates/cosmosdb.json
  infrastructure/azure/arm-templates/cosmosdb.json
Owners: @azure-cloud-team

Add public-samples/gvcr-pricing-tool-kem6wa/infrastructure/azure/arm-templates/front-door.json
  infrastructure/azure/arm-templates/front-door.json
Owners: @azure-cloud-team

Add public-samples/gvcr-pricing-tool-kem6wa/infrastructure/azure/arm-templates/keyvault.json
  infrastructure/azure/arm-templates/keyvault.json
Owners: @security-team, @devops-team

Add public-samples/gvcr-pricing-tool-kem6wa/infrastructure/azure/arm-templates/main.json
  infrastructure/azure/arm-templates/main.json
Owners: @azure-cloud-team

Add public-samples/gvcr-pricing-tool-kem6wa/infrastructure/azure/arm-templates/monitor.json
  infrastructure/azure/arm-templates/monitor.json
Owners: @azure-cloud-team
