Repository gosantosh71/gvcr-pricing-tool-kem6wa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @api-team, @service-team, @domain-experts, @frontend-team, @ui-component-team, @devops-team, @kubernetes-experts, @azure-cloud-team, @ci-cd-experts, @documentation-team, @architecture-team, @qa-team, @security-team

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes precedence.
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for everything in the repo
# These owners will be the default owners for everything in the repository
# unless a later match takes precedence.
*                                               @project-leads

# Backend Code
src/backend/                                    @backend-team
src/backend/VatFilingPricingTool.Api/           @api-team
src/backend/VatFilingPricingTool.Service/       @service-team
src/backend/VatFilingPricingTool.Domain/        @domain-experts

# Frontend Code
src/web/                                        @frontend-team
src/web/VatFilingPricingTool.Web/Components/    @ui-component-team

# Infrastructure
infrastructure/                                 @devops-team
infrastructure/kubernetes/                      @kubernetes-experts
infrastructure/azure/                           @azure-cloud-team

# CI/CD Pipelines
.github/workflows/                              @devops-team @ci-cd-experts
.azuredevops/pipelines/                         @devops-team @ci-cd-experts

# Documentation
docs/                                           @documentation-team
docs/architecture/                              @architecture-team
docs/api/                                       @api-team

# Tests
src/backend/Tests/                              @qa-team @backend-team
src/web/Tests/                                  @qa-team @frontend-team

# Security-Critical Files
src/backend/VatFilingPricingTool.Infrastructure/Authentication/  @security-team
src/web/VatFilingPricingTool.Web/Authentication/                 @security-team
infrastructure/azure/arm-templates/keyvault.json                 @security-team @devops-team

# GitHub Configuration
.github/                                        @devops-team @project-leads
.github/CODEOWNERS                              @project-leads

Add public-samples/gvcr-pricing-tool-kem6wa/infrastructure/scripts/deploy.sh
  infrastructure/scripts/deploy.sh
Owners: @devops-team

Add public-samples/gvcr-pricing-tool-kem6wa/infrastructure/scripts/initialize-keyvault.ps1
  infrastructure/scripts/initialize-keyvault.ps1
Owners: @devops-team

Add public-samples/gvcr-pricing-tool-kem6wa/infrastructure/scripts/restore-databases.ps1
  infrastructure/scripts/restore-databases.ps1
Owners: @devops-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/.dockerignore
  src/backend/.dockerignore
Owners: @backend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/Dockerfile
  src/backend/Dockerfile
Owners: @backend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/README.md
  src/backend/README.md
Owners: @backend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/Tests/VatFilingPricingTool.IntegrationTests/Api/AuthControllerIntegrationTests.cs
  src/backend/Tests/VatFilingPricingTool.IntegrationTests/Api/AuthControllerIntegrationTests.cs
Owners: @qa-team, @backend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/Tests/VatFilingPricingTool.IntegrationTests/Api/CountryControllerIntegrationTests.cs
  src/backend/Tests/VatFilingPricingTool.IntegrationTests/Api/CountryControllerIntegrationTests.cs
Owners: @qa-team, @backend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/Tests/VatFilingPricingTool.IntegrationTests/Api/PricingControllerIntegrationTests.cs
  src/backend/Tests/VatFilingPricingTool.IntegrationTests/Api/PricingControllerIntegrationTests.cs
Owners: @qa-team, @backend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/Tests/VatFilingPricingTool.IntegrationTests/Api/ReportControllerIntegrationTests.cs
  src/backend/Tests/VatFilingPricingTool.IntegrationTests/Api/ReportControllerIntegrationTests.cs
Owners: @qa-team, @backend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/Tests/VatFilingPricingTool.IntegrationTests/Api/RuleControllerIntegrationTests.cs
  src/backend/Tests/VatFilingPricingTool.IntegrationTests/Api/RuleControllerIntegrationTests.cs
Owners: @qa-team, @backend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/Tests/VatFilingPricingTool.IntegrationTests/Database/DatabaseFixture.cs
  src/backend/Tests/VatFilingPricingTool.IntegrationTests/Database/DatabaseFixture.cs
Owners: @qa-team, @backend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/Tests/VatFilingPricingTool.IntegrationTests/Database/RepositoryIntegrationTests.cs
  src/backend/Tests/VatFilingPricingTool.IntegrationTests/Database/RepositoryIntegrationTests.cs
Owners: @qa-team, @backend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/Tests/VatFilingPricingTool.IntegrationTests/Infrastructure/AzureAdIntegrationTests.cs
  src/backend/Tests/VatFilingPricingTool.IntegrationTests/Infrastructure/AzureAdIntegrationTests.cs
Owners: @qa-team, @backend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/Tests/VatFilingPricingTool.IntegrationTests/Infrastructure/BlobStorageIntegrationTests.cs
  src/backend/Tests/VatFilingPricingTool.IntegrationTests/Infrastructure/BlobStorageIntegrationTests.cs
Owners: @qa-team, @backend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/Tests/VatFilingPricingTool.IntegrationTests/Services/IntegrationServiceTests.cs
  src/backend/Tests/VatFilingPricingTool.IntegrationTests/Services/IntegrationServiceTests.cs
Owners: @qa-team, @backend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/Tests/VatFilingPricingTool.IntegrationTests/Services/ReportGenerationTests.cs
  src/backend/Tests/VatFilingPricingTool.IntegrationTests/Services/ReportGenerationTests.cs
Owners: @qa-team, @backend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/Tests/VatFilingPricingTool.IntegrationTests/TestServer/CustomWebApplicationFactory.cs
  src/backend/Tests/VatFilingPricingTool.IntegrationTests/TestServer/CustomWebApplicationFactory.cs
Owners: @qa-team, @backend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/Tests/VatFilingPricingTool.IntegrationTests/TestServer/IntegrationTestBase.cs
  src/backend/Tests/VatFilingPricingTool.IntegrationTests/TestServer/IntegrationTestBase.cs
Owners: @qa-team, @backend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/Tests/VatFilingPricingTool.IntegrationTests/Utilities/IntegrationTestHelpers.cs
  src/backend/Tests/VatFilingPricingTool.IntegrationTests/Utilities/IntegrationTestHelpers.cs
Owners: @qa-team, @backend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/Tests/VatFilingPricingTool.IntegrationTests/Utilities/TestAuthHandler.cs
  src/backend/Tests/VatFilingPricingTool.IntegrationTests/Utilities/TestAuthHandler.cs
Owners: @qa-team, @backend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/Tests/VatFilingPricingTool.UnitTests/Controllers/AdminControllerTests.cs
  src/backend/Tests/VatFilingPricingTool.UnitTests/Controllers/AdminControllerTests.cs
Owners: @qa-team, @backend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/Tests/VatFilingPricingTool.UnitTests/Controllers/AuthControllerTests.cs
  src/backend/Tests/VatFilingPricingTool.UnitTests/Controllers/AuthControllerTests.cs
Owners: @qa-team, @backend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/Tests/VatFilingPricingTool.UnitTests/Controllers/CountryControllerTests.cs
  src/backend/Tests/VatFilingPricingTool.UnitTests/Controllers/CountryControllerTests.cs
Owners: @qa-team, @backend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/Tests/VatFilingPricingTool.UnitTests/Controllers/PricingControllerTests.cs
  src/backend/Tests/VatFilingPricingTool.UnitTests/Controllers/PricingControllerTests.cs
Owners: @qa-team, @backend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/Tests/VatFilingPricingTool.UnitTests/Controllers/ReportControllerTests.cs
  src/backend/Tests/VatFilingPricingTool.UnitTests/Controllers/ReportControllerTests.cs
Owners: @qa-team, @backend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/Tests/VatFilingPricingTool.UnitTests/Controllers/RuleControllerTests.cs
  src/backend/Tests/VatFilingPricingTool.UnitTests/Controllers/RuleControllerTests.cs
Owners: @qa-team, @backend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/Tests/VatFilingPricingTool.UnitTests/Domain/ExpressionEvaluatorTests.cs
  src/backend/Tests/VatFilingPricingTool.UnitTests/Domain/ExpressionEvaluatorTests.cs
Owners: @qa-team, @backend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/Tests/VatFilingPricingTool.UnitTests/Domain/RuleEngineTests.cs
  src/backend/Tests/VatFilingPricingTool.UnitTests/Domain/RuleEngineTests.cs
Owners: @qa-team, @backend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/Tests/VatFilingPricingTool.UnitTests/Helpers/MockData.cs
  src/backend/Tests/VatFilingPricingTool.UnitTests/Helpers/MockData.cs
Owners: @qa-team, @backend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/Tests/VatFilingPricingTool.UnitTests/Helpers/TestExtensions.cs
  src/backend/Tests/VatFilingPricingTool.UnitTests/Helpers/TestExtensions.cs
Owners: @qa-team, @backend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/Tests/VatFilingPricingTool.UnitTests/Helpers/TestHelpers.cs
  src/backend/Tests/VatFilingPricingTool.UnitTests/Helpers/TestHelpers.cs
Owners: @qa-team, @backend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/Tests/VatFilingPricingTool.UnitTests/Repositories/CalculationRepositoryTests.cs
  src/backend/Tests/VatFilingPricingTool.UnitTests/Repositories/CalculationRepositoryTests.cs
Owners: @qa-team, @backend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/Tests/VatFilingPricingTool.UnitTests/Repositories/CountryRepositoryTests.cs
  src/backend/Tests/VatFilingPricingTool.UnitTests/Repositories/CountryRepositoryTests.cs
Owners: @qa-team, @backend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/Tests/VatFilingPricingTool.UnitTests/Repositories/RuleRepositoryTests.cs
  src/backend/Tests/VatFilingPricingTool.UnitTests/Repositories/RuleRepositoryTests.cs
Owners: @qa-team, @backend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/Tests/VatFilingPricingTool.UnitTests/Repositories/UserRepositoryTests.cs
  src/backend/Tests/VatFilingPricingTool.UnitTests/Repositories/UserRepositoryTests.cs
Owners: @qa-team, @backend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/Tests/VatFilingPricingTool.UnitTests/Services/AuthServiceTests.cs
  src/backend/Tests/VatFilingPricingTool.UnitTests/Services/AuthServiceTests.cs
Owners: @qa-team, @backend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/Tests/VatFilingPricingTool.UnitTests/Services/CountryServiceTests.cs
  src/backend/Tests/VatFilingPricingTool.UnitTests/Services/CountryServiceTests.cs
Owners: @qa-team, @backend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/Tests/VatFilingPricingTool.UnitTests/Services/IntegrationServiceTests.cs
  src/backend/Tests/VatFilingPricingTool.UnitTests/Services/IntegrationServiceTests.cs
Owners: @qa-team, @backend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/Tests/VatFilingPricingTool.UnitTests/Services/PricingServiceTests.cs
  src/backend/Tests/VatFilingPricingTool.UnitTests/Services/PricingServiceTests.cs
Owners: @qa-team, @backend-team
