Repository gosantosh71/gvcr-pricing-tool-kem6wa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @api-team, @service-team, @domain-experts, @frontend-team, @ui-component-team, @devops-team, @kubernetes-experts, @azure-cloud-team, @ci-cd-experts, @documentation-team, @architecture-team, @qa-team, @security-team

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes precedence.
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for everything in the repo
# These owners will be the default owners for everything in the repository
# unless a later match takes precedence.
*                                               @project-leads

# Backend Code
src/backend/                                    @backend-team
src/backend/VatFilingPricingTool.Api/           @api-team
src/backend/VatFilingPricingTool.Service/       @service-team
src/backend/VatFilingPricingTool.Domain/        @domain-experts

# Frontend Code
src/web/                                        @frontend-team
src/web/VatFilingPricingTool.Web/Components/    @ui-component-team

# Infrastructure
infrastructure/                                 @devops-team
infrastructure/kubernetes/                      @kubernetes-experts
infrastructure/azure/                           @azure-cloud-team

# CI/CD Pipelines
.github/workflows/                              @devops-team @ci-cd-experts
.azuredevops/pipelines/                         @devops-team @ci-cd-experts

# Documentation
docs/                                           @documentation-team
docs/architecture/                              @architecture-team
docs/api/                                       @api-team

# Tests
src/backend/Tests/                              @qa-team @backend-team
src/web/Tests/                                  @qa-team @frontend-team

# Security-Critical Files
src/backend/VatFilingPricingTool.Infrastructure/Authentication/  @security-team
src/web/VatFilingPricingTool.Web/Authentication/                 @security-team
infrastructure/azure/arm-templates/keyvault.json                 @security-team @devops-team

# GitHub Configuration
.github/                                        @devops-team @project-leads
.github/CODEOWNERS                              @project-leads

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/VatFilingPricingTool.Infrastructure/Storage/BlobStorageClient.cs
  src/backend/VatFilingPricingTool.Infrastructure/Storage/BlobStorageClient.cs
Owners: @backend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/VatFilingPricingTool.Infrastructure/Storage/StorageOptions.cs
  src/backend/VatFilingPricingTool.Infrastructure/Storage/StorageOptions.cs
Owners: @backend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/VatFilingPricingTool.Service/Helpers/CalculationHelper.cs
  src/backend/VatFilingPricingTool.Service/Helpers/CalculationHelper.cs
Owners: @service-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/VatFilingPricingTool.Service/Helpers/ReportGenerationHelper.cs
  src/backend/VatFilingPricingTool.Service/Helpers/ReportGenerationHelper.cs
Owners: @service-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/VatFilingPricingTool.Service/Helpers/ValidationHelper.cs
  src/backend/VatFilingPricingTool.Service/Helpers/ValidationHelper.cs
Owners: @service-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/VatFilingPricingTool.Service/Implementations/AuthService.cs
  src/backend/VatFilingPricingTool.Service/Implementations/AuthService.cs
Owners: @service-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/VatFilingPricingTool.Service/Implementations/CountryService.cs
  src/backend/VatFilingPricingTool.Service/Implementations/CountryService.cs
Owners: @service-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/VatFilingPricingTool.Service/Implementations/IntegrationService.cs
  src/backend/VatFilingPricingTool.Service/Implementations/IntegrationService.cs
Owners: @service-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/VatFilingPricingTool.Service/Implementations/PricingService.cs
  src/backend/VatFilingPricingTool.Service/Implementations/PricingService.cs
Owners: @service-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/VatFilingPricingTool.Service/Implementations/ReportService.cs
  src/backend/VatFilingPricingTool.Service/Implementations/ReportService.cs
Owners: @service-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/VatFilingPricingTool.Service/Implementations/RuleService.cs
  src/backend/VatFilingPricingTool.Service/Implementations/RuleService.cs
Owners: @service-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/VatFilingPricingTool.Service/Implementations/UserService.cs
  src/backend/VatFilingPricingTool.Service/Implementations/UserService.cs
Owners: @service-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/VatFilingPricingTool.Service/Interfaces/IAuthService.cs
  src/backend/VatFilingPricingTool.Service/Interfaces/IAuthService.cs
Owners: @service-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/VatFilingPricingTool.Service/Interfaces/ICountryService.cs
  src/backend/VatFilingPricingTool.Service/Interfaces/ICountryService.cs
Owners: @service-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/VatFilingPricingTool.Service/Interfaces/IIntegrationService.cs
  src/backend/VatFilingPricingTool.Service/Interfaces/IIntegrationService.cs
Owners: @service-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/VatFilingPricingTool.Service/Interfaces/IPricingService.cs
  src/backend/VatFilingPricingTool.Service/Interfaces/IPricingService.cs
Owners: @service-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/VatFilingPricingTool.Service/Interfaces/IReportService.cs
  src/backend/VatFilingPricingTool.Service/Interfaces/IReportService.cs
Owners: @service-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/VatFilingPricingTool.Service/Interfaces/IRuleService.cs
  src/backend/VatFilingPricingTool.Service/Interfaces/IRuleService.cs
Owners: @service-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/VatFilingPricingTool.Service/Interfaces/IUserService.cs
  src/backend/VatFilingPricingTool.Service/Interfaces/IUserService.cs
Owners: @service-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/VatFilingPricingTool.Service/Mappers/DtoMappers.cs
  src/backend/VatFilingPricingTool.Service/Mappers/DtoMappers.cs
Owners: @service-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/VatFilingPricingTool.Service/Mappers/EntityMappers.cs
  src/backend/VatFilingPricingTool.Service/Mappers/EntityMappers.cs
Owners: @service-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/VatFilingPricingTool.Service/Mappers/MappingProfile.cs
  src/backend/VatFilingPricingTool.Service/Mappers/MappingProfile.cs
Owners: @service-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/VatFilingPricingTool.Service/Models/CalculationModel.cs
  src/backend/VatFilingPricingTool.Service/Models/CalculationModel.cs
Owners: @service-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/VatFilingPricingTool.Service/Models/CountryModel.cs
  src/backend/VatFilingPricingTool.Service/Models/CountryModel.cs
Owners: @service-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/VatFilingPricingTool.Service/Models/ReportModel.cs
  src/backend/VatFilingPricingTool.Service/Models/ReportModel.cs
Owners: @service-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/VatFilingPricingTool.Service/Models/RuleModel.cs
  src/backend/VatFilingPricingTool.Service/Models/RuleModel.cs
Owners: @service-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/VatFilingPricingTool.Service/Models/UserModel.cs
  src/backend/VatFilingPricingTool.Service/Models/UserModel.cs
Owners: @service-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/backend/VatFilingPricingTool.Service/Validators/ModelValidators.cs
  src/backend/VatFilingPricingTool.Service/Validators/ModelValidators.cs
Owners: @service-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/web/.editorconfig
  src/web/.editorconfig
Owners: @frontend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/web/.eslintrc.json
  src/web/.eslintrc.json
Owners: @frontend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/web/.gitignore
  src/web/.gitignore
Owners: @frontend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/web/Dockerfile
  src/web/Dockerfile
Owners: @frontend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/web/README.md
  src/web/README.md
Owners: @frontend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/web/docker-compose.yml
  src/web/docker-compose.yml
Owners: @frontend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/web/nginx.conf
  src/web/nginx.conf
Owners: @frontend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/web/package-lock.json
  src/web/package-lock.json
Owners: @frontend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/web/package.json
  src/web/package.json
Owners: @frontend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/web/tsconfig.json
  src/web/tsconfig.json
Owners: @frontend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/web/.github/workflows/build.yml
  src/web/.github/workflows/build.yml
Owners: @devops-team, @project-leads

Add public-samples/gvcr-pricing-tool-kem6wa/src/web/.github/workflows/deploy.yml
  src/web/.github/workflows/deploy.yml
Owners: @devops-team, @project-leads
