Repository gosantosh71/gvcr-pricing-tool-kem6wa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @api-team, @service-team, @domain-experts, @frontend-team, @ui-component-team, @devops-team, @kubernetes-experts, @azure-cloud-team, @ci-cd-experts, @documentation-team, @architecture-team, @qa-team, @security-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/web/Tests/VatFilingPricingTool.Web.E2E.Tests/Fixtures/PlaywrightFixture.cs
  src/web/Tests/VatFilingPricingTool.Web.E2E.Tests/Fixtures/PlaywrightFixture.cs
Owners: @qa-team, @frontend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/web/Tests/VatFilingPricingTool.Web.E2E.Tests/Helpers/TestSettings.cs
  src/web/Tests/VatFilingPricingTool.Web.E2E.Tests/Helpers/TestSettings.cs
Owners: @qa-team, @frontend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/web/Tests/VatFilingPricingTool.Web.E2E.Tests/Helpers/UserData.cs
  src/web/Tests/VatFilingPricingTool.Web.E2E.Tests/Helpers/UserData.cs
Owners: @qa-team, @frontend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/web/Tests/VatFilingPricingTool.Web.E2E.Tests/PageObjects/BasePage.cs
  src/web/Tests/VatFilingPricingTool.Web.E2E.Tests/PageObjects/BasePage.cs
Owners: @qa-team, @frontend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/web/Tests/VatFilingPricingTool.Web.E2E.Tests/PageObjects/CalculatorPage.cs
  src/web/Tests/VatFilingPricingTool.Web.E2E.Tests/PageObjects/CalculatorPage.cs
Owners: @qa-team, @frontend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/web/Tests/VatFilingPricingTool.Web.E2E.Tests/PageObjects/DashboardPage.cs
  src/web/Tests/VatFilingPricingTool.Web.E2E.Tests/PageObjects/DashboardPage.cs
Owners: @qa-team, @frontend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/web/Tests/VatFilingPricingTool.Web.E2E.Tests/PageObjects/LoginPage.cs
  src/web/Tests/VatFilingPricingTool.Web.E2E.Tests/PageObjects/LoginPage.cs
Owners: @qa-team, @frontend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/web/Tests/VatFilingPricingTool.Web.E2E.Tests/PageObjects/ResultsPage.cs
  src/web/Tests/VatFilingPricingTool.Web.E2E.Tests/PageObjects/ResultsPage.cs
Owners: @qa-team, @frontend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/web/Tests/VatFilingPricingTool.Web.E2E.Tests/Tests/DashboardTests.cs
  src/web/Tests/VatFilingPricingTool.Web.E2E.Tests/Tests/DashboardTests.cs
Owners: @qa-team, @frontend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/web/Tests/VatFilingPricingTool.Web.E2E.Tests/Tests/LoginTests.cs
  src/web/Tests/VatFilingPricingTool.Web.E2E.Tests/Tests/LoginTests.cs
Owners: @qa-team, @frontend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/web/Tests/VatFilingPricingTool.Web.E2E.Tests/Tests/PricingCalculatorTests.cs
  src/web/Tests/VatFilingPricingTool.Web.E2E.Tests/Tests/PricingCalculatorTests.cs
Owners: @qa-team, @frontend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/web/Tests/VatFilingPricingTool.Web.E2E.Tests/Tests/PricingResultsTests.cs
  src/web/Tests/VatFilingPricingTool.Web.E2E.Tests/Tests/PricingResultsTests.cs
Owners: @qa-team, @frontend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/web/Tests/VatFilingPricingTool.Web.E2E.Tests/Tests/ReportGenerationTests.cs
  src/web/Tests/VatFilingPricingTool.Web.E2E.Tests/Tests/ReportGenerationTests.cs
Owners: @qa-team, @frontend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/web/Tests/VatFilingPricingTool.Web.Tests/Components/CountrySelectorTests.cs
  src/web/Tests/VatFilingPricingTool.Web.Tests/Components/CountrySelectorTests.cs
Owners: @qa-team, @frontend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/web/Tests/VatFilingPricingTool.Web.Tests/Components/PricingBreakdownTests.cs
  src/web/Tests/VatFilingPricingTool.Web.Tests/Components/PricingBreakdownTests.cs
Owners: @qa-team, @frontend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/web/Tests/VatFilingPricingTool.Web.Tests/Helpers/RenderComponent.cs
  src/web/Tests/VatFilingPricingTool.Web.Tests/Helpers/RenderComponent.cs
Owners: @qa-team, @frontend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/web/Tests/VatFilingPricingTool.Web.Tests/Helpers/TestData.cs
  src/web/Tests/VatFilingPricingTool.Web.Tests/Helpers/TestData.cs
Owners: @qa-team, @frontend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/web/Tests/VatFilingPricingTool.Web.Tests/Mock/MockAuthenticationStateProvider.cs
  src/web/Tests/VatFilingPricingTool.Web.Tests/Mock/MockAuthenticationStateProvider.cs
Owners: @qa-team, @frontend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/web/Tests/VatFilingPricingTool.Web.Tests/Mock/MockHttpMessageHandler.cs
  src/web/Tests/VatFilingPricingTool.Web.Tests/Mock/MockHttpMessageHandler.cs
Owners: @qa-team, @frontend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/web/Tests/VatFilingPricingTool.Web.Tests/Pages/DashboardTests.cs
  src/web/Tests/VatFilingPricingTool.Web.Tests/Pages/DashboardTests.cs
Owners: @qa-team, @frontend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/web/Tests/VatFilingPricingTool.Web.Tests/Pages/PricingCalculatorTests.cs
  src/web/Tests/VatFilingPricingTool.Web.Tests/Pages/PricingCalculatorTests.cs
Owners: @qa-team, @frontend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/web/Tests/VatFilingPricingTool.Web.Tests/Pages/PricingResultsTests.cs
  src/web/Tests/VatFilingPricingTool.Web.Tests/Pages/PricingResultsTests.cs
Owners: @qa-team, @frontend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/web/Tests/VatFilingPricingTool.Web.Tests/Services/AuthServiceTests.cs
  src/web/Tests/VatFilingPricingTool.Web.Tests/Services/AuthServiceTests.cs
Owners: @qa-team, @frontend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/web/Tests/VatFilingPricingTool.Web.Tests/Services/CountryServiceTests.cs
  src/web/Tests/VatFilingPricingTool.Web.Tests/Services/CountryServiceTests.cs
Owners: @qa-team, @frontend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/web/Tests/VatFilingPricingTool.Web.Tests/Services/PricingServiceTests.cs
  src/web/Tests/VatFilingPricingTool.Web.Tests/Services/PricingServiceTests.cs
Owners: @qa-team, @frontend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/web/Tests/VatFilingPricingTool.Web.Tests/Services/ReportServiceTests.cs
  src/web/Tests/VatFilingPricingTool.Web.Tests/Services/ReportServiceTests.cs
Owners: @qa-team, @frontend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/web/VatFilingPricingTool.Web/Program.cs
  src/web/VatFilingPricingTool.Web/Program.cs
Owners: @frontend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/web/VatFilingPricingTool.Web/Authentication/AuthenticationService.cs
  src/web/VatFilingPricingTool.Web/Authentication/AuthenticationService.cs
Owners: @security-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/web/VatFilingPricingTool.Web/Authentication/AuthenticationStateProvider.cs
  src/web/VatFilingPricingTool.Web/Authentication/AuthenticationStateProvider.cs
Owners: @security-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/web/VatFilingPricingTool.Web/Authentication/AzureAdAuthOptions.cs
  src/web/VatFilingPricingTool.Web/Authentication/AzureAdAuthOptions.cs
Owners: @security-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/web/VatFilingPricingTool.Web/Authentication/TokenAuthenticationStateProvider.cs
  src/web/VatFilingPricingTool.Web/Authentication/TokenAuthenticationStateProvider.cs
Owners: @security-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/web/VatFilingPricingTool.Web/Clients/ApiClient.cs
  src/web/VatFilingPricingTool.Web/Clients/ApiClient.cs
Owners: @frontend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/web/VatFilingPricingTool.Web/Clients/ApiEndpoints.cs
  src/web/VatFilingPricingTool.Web/Clients/ApiEndpoints.cs
Owners: @frontend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/web/VatFilingPricingTool.Web/Clients/HttpClientFactory.cs
  src/web/VatFilingPricingTool.Web/Clients/HttpClientFactory.cs
Owners: @frontend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/web/VatFilingPricingTool.Web/Handlers/AuthorizationMessageHandler.cs
  src/web/VatFilingPricingTool.Web/Handlers/AuthorizationMessageHandler.cs
Owners: @frontend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/web/VatFilingPricingTool.Web/Handlers/CustomAuthorizationHandler.cs
  src/web/VatFilingPricingTool.Web/Handlers/CustomAuthorizationHandler.cs
Owners: @frontend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/web/VatFilingPricingTool.Web/Helpers/JsInterop.cs
  src/web/VatFilingPricingTool.Web/Helpers/JsInterop.cs
Owners: @frontend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/web/VatFilingPricingTool.Web/Helpers/LocalStorageHelper.cs
  src/web/VatFilingPricingTool.Web/Helpers/LocalStorageHelper.cs
Owners: @frontend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/web/VatFilingPricingTool.Web/Helpers/PricingFormatter.cs
  src/web/VatFilingPricingTool.Web/Helpers/PricingFormatter.cs
Owners: @frontend-team

Add public-samples/gvcr-pricing-tool-kem6wa/src/web/VatFilingPricingTool.Web/Helpers/ValidationHelper.cs
  src/web/VatFilingPricingTool.Web/Helpers/ValidationHelper.cs
Owners: @frontend-team

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes precedence.
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for everything in the repo
# These owners will be the default owners for everything in the repository
# unless a later match takes precedence.
*                                               @project-leads

# Backend Code
src/backend/                                    @backend-team
src/backend/VatFilingPricingTool.Api/           @api-team
src/backend/VatFilingPricingTool.Service/       @service-team
src/backend/VatFilingPricingTool.Domain/        @domain-experts

# Frontend Code
src/web/                                        @frontend-team
src/web/VatFilingPricingTool.Web/Components/    @ui-component-team

# Infrastructure
infrastructure/                                 @devops-team
infrastructure/kubernetes/                      @kubernetes-experts
infrastructure/azure/                           @azure-cloud-team

# CI/CD Pipelines
.github/workflows/                              @devops-team @ci-cd-experts
.azuredevops/pipelines/                         @devops-team @ci-cd-experts

# Documentation
docs/                                           @documentation-team
docs/architecture/                              @architecture-team
docs/api/                                       @api-team

# Tests
src/backend/Tests/                              @qa-team @backend-team
src/web/Tests/                                  @qa-team @frontend-team

# Security-Critical Files
src/backend/VatFilingPricingTool.Infrastructure/Authentication/  @security-team
src/web/VatFilingPricingTool.Web/Authentication/                 @security-team
infrastructure/azure/arm-templates/keyvault.json                 @security-team @devops-team

# GitHub Configuration
.github/                                        @devops-team @project-leads
.github/CODEOWNERS                              @project-leads
